<%= render "shared/header" %>

<div class='item-contents'>
  <h2 class='title'>お気に入りに追加した商品</h2>
  <ul class='item-lists'>
    <% if @items.exists? %>
      <% @items.each do |favorite| %>
        <li class='list'>
          <%= link_to item_path(favorite.item.id) do %>
            <div class='item-img-content'>
              <div class="item-img-top">
                <%= image_tag favorite.item.image, class: "item-img" if favorite.item.image.attached? %>
              </div>
                <% if favorite.item.order %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= favorite.item.name %>
              </h3>
              <div class='item-price'>
                <span><%= favorite.item.price %>円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= favorite.item.favorites.ids.length %></span>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <p class="not-found">お気に入りに追加した商品はありません</p>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>