<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
<%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "商品名から探す", class: "input-box"%>
    <button class="search-button">
      <%= image_tag "search.png", class:"search-icon" %>
    </button>
<% end %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li>
        <div class="category-list", id="category-list">カテゴリーから探す
        </div>
        <div class='categories hidden' id="category-menu">
          <%= link_to 'レディース', category_path(category_id: 1), class: "category-menu" %>
          <%= link_to 'メンズ', category_path(category_id: 2), class: "category-menu"  %>
          <%= link_to 'ベビー・キッズ', category_path(category_id: 3), class: "category-menu"  %>
          <%= link_to 'インテリア・住まい・小物', category_path(category_id: 4), class: "category-menu"  %>
          <%= link_to '本・音楽・ゲーム', category_path(category_id: 5), class: "category-menu"  %>
          <%= link_to 'おもちゃ・ホビー・グッズ', category_path(category_id: 6), class: "category-menu"  %>
          <%= link_to '家電・スマホ・カメラ', category_path(category_id: 7), class: "category-menu"  %>
          <%= link_to 'スポーツ・レジャー', category_path(category_id: 8), class: "category-menu"  %>
          <%= link_to 'ハンドメイド', category_path(category_id: 9), class: "category-menu"  %>
          <%= link_to 'その他', category_path(category_id: 10), class: "category-menu"  %>
        </div>
      </li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}さん", "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout", data: { confirm: "ログアウトしますか？" }  %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>