<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.order %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "#{@item.price}円"%>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% unless @item.order %>
      <% if user_signed_in? && current_user == @item.user %>
        <div class="red-btn">
          <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
        </div>
        <p class='or-text'>or</p>
        <div class="delete-btn">
          <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy',  data: { confirm: "商品を削除しますか？" } %>
        </div>
      <% end %>
      <%# ログイン状態かつ出品者でない場合購入ボタンを表示 %>
      <% if user_signed_in? && current_user != @item.user %>
        <div class="red-btn">
          <%= link_to '購入画面に進む', item_orders_path(@item) ,class:"item-red-btn"%>
        </div>
      <% end %>
    <% end %>

    <div class="arrow-box">
      <p class="explain-title">商品説明</p>
      <div class="item-explain">
        <%= @item.explain %>
      </div>
      <div class="item-listing-date">
        出品日時：<%= l @item.created_at %>
      </div>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to "#{@item.user.nickname}",  user_sell_path(@item.user), class: "sell-info" %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= link_to "#{@item.category.name}", category_path(category_id: @item.category_id), class: "sell-info" %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.schedule.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite">
        <% if user_signed_in? %>
          <% if @item.favorites.exists?(user_id: current_user.id) %>
            <%= link_to 'お気に入りから削除', item_favorite_path(@item.id), method: :delete, class: "favorite-btn-delete" %>
          <% else %>
            <%= link_to 'お気に入りに追加', item_favorites_path(@item.id), method: :post, class: "favorite-btn-add" %>
          <% end %>
        <% end %>
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <%= @item.favorites.ids.length %>人がお気に入りに登録しています
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <p class="comment-title" id="comments"><< コメント >></p>
    <% if @comments.exists? %>
      <% @comments.each do |comment|%>
        <% if comment.user_id == @item.user_id%>
          <div class="comment-balloon-left">
            <div class="comment-top">
              <div class="comment-nickname">
                <p>出品者：<%= "#{comment.user.nickname}" %></p>
              </div>
              <div class="comment-date">
                <%= l comment.created_at, class: "comment-date" %>
              </div>
            </div>
            <div class="comment-bottom">
              <%= comment.text %>
            </div>
          </div>
        <% else %>
          <div class="comment-balloon-right">
            <div class="comment-top">
              <div class="comment-nickname">
                <p>投稿者：<%= "#{comment.user.nickname}" %></p>
              </div>
              <div class="comment-date">
                <%= l comment.created_at, class: "comment-date" %>
              </div>
            </div>
            <div class="comment-bottom">
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>現在投稿されたコメントはありません</p>
    <% end %>
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], local: true) do |f| %>
        <%= f.text_area :text, class: "comment-text", placeholder: "コメントを入力してください" if current_user.id != @item.user_id %>
        <%= f.text_area :text, class: "comment-text", placeholder: "出品者としてコメントを入力してください" if current_user.id == @item.user_id %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする", class: "comment-btn" %>
      <% end %>
    <% else %>
      <p class="comment-login">※コメントをするためにはログインが必要です</p>
    <% end %>
  </div>
  <div class="links">
    <%= link_to '＜ 前の商品', item_path(@front_item.id),class: "change-item-btn" if @front_item %>
    <%= link_to '後ろの商品 ＞', item_path(@back_item.id),class: "change-item-btn" if @back_item %>
  </div>
  <%= link_to "#{@item.category.name}をもっと見る", category_path(category_id: @item.category_id), class: "another-item" %>
</div>

<%= render "shared/footer" %>
